name: Daily Maven Tests

on:
  schedule:
    - cron: '0 4 * * *' # Runs every day at 4:00 a.m. UTC
  workflow_dispatch: # Allows manual trigger

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build and test
        run: mvn clean test

      - name: Upload Surefire Report
        uses: actions/upload-artifact@v4
        with:
          name: surefire-report
          path: target/surefire-reports/emailable-report.html
      - name: Send Mail using Mailjet
        uses: coumarane/send-mail-action@v1.1.2
        with:
          api_key: ${{ secrets.SENDGRID_API_KEY_PUBLIC }}
          api_secret: ${{ secrets.SENDGRID_APIKEY_SECRET }}
          from_email: Andrei Marcu <andrei.marcu1337@gmail.com>
          to_email: andrei.marcu1337@gmail.com
          subject: mvn test report
          message: Report attached.
          attachments: surefire-report/emailable-report.html
