name: Daily Maven Tests

on:
  schedule:
    - cron: '0 4 * * *' # Runs every day at 6:00 a.m. UTC
  workflow_dispatch: # Allows manual trigger

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build and test
        run: mvn clean test

      - name: Upload Surefire Report
        uses: actions/upload-artifact@v4
        with:
          name: surefire-report
          path: target/surefire-reports/emailable-report.html

      - name: Send Surefire Report via Email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: https://api.mailjet.com/v3.1/send
          server_port: 2525
          username: ${{ secrets.SENDGRID_API_KEY_PUBLIC }}
          password: ${{ SENDGRID_APIKEY_SECRET }}
          subject: CosmeticaBrasov.ro UI Test Results
          to: andrei.marcu1337@gmail.com
          from: GitHub Actions <noreply@github.com>
          content_type: text/html
          body: |
            <p>Find the Maven Surefire Report attached.</p>
          attachments: target/surefire-reports/emailable-report.html
