name: Daily Maven Tests

on:
  schedule:
    - cron: '0 4 * * *' # Runs every day at 4:00 a.m. UTC
  workflow_dispatch: # Allows manual trigger

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      MJ_APIKEY_PUBLIC: ${{ secrets.MAILJET_PUBLIC_API_KEY }}
      MJ_APIKEY_PRIVATE: ${{ secrets.MAILJET_SECRET_API_KEY }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build and test
        run: mvn clean test

      - name: Upload Extent Report
        uses: actions/upload-artifact@v4
        with:
          name: surefire-report
          path: target/extentReports/index.html

      - name: Upload logs
        uses: actions/upload-artifact@v4
        with:
          name: test-log
          path: target/logs/test-log.txt

      - name: Create Mailjet Payload
        run: |
          REPORT_PATH="target/extentReports/index.html"
          TO_EMAIL="${{ secrets.MAILJET_RECIPIENT || 'andrei.marcu1337@gmail.com' }}"
          FROM_EMAIL="andrei.marcu1337@gmail.com"
          FROM_NAME="Andrei Marcu"
          SUBJECT="Automated Test Report"

          HTML_CONTENT=$(cat "$REPORT_PATH")

          jq -n --arg from_email "$FROM_EMAIL" \
                --arg from_name "$FROM_NAME" \
                --arg to_email "$TO_EMAIL" \
                --arg to_name "$FROM_NAME" \
                --arg subject "$SUBJECT" \
                --arg html "$HTML_CONTENT" \
                '{
                  "Messages": [
                    {
                      "From": { "Email": $from_email, "Name": $from_name },
                      "To": [ { "Email": $to_email, "Name": $to_name } ],
                      "Subject": $subject,
                      "TextPart": "See attached HTML report.",
                      "HTMLPart": $html
                    }
                  ]
                }' > payload.json
      - name: Show payload preview
        run: head -n 30 payload.json
      - name: Send Email via Mailjet
        run: |
          curl -s -X POST https://api.mailjet.com/v3.1/send \
            -u "${{ secrets.MAILJET_PUBLIC_API_KEY }}:${{ secrets.MAILJET_SECRET_API_KEY }}" \
            -H "Content-Type: application/json" \
            -d @payload.json