name: Daily Maven Tests

on:
  schedule:
    - cron: '0 4 * * *' # Runs every day at 4:00 a.m. UTC
  workflow_dispatch: # Allows manual trigger

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      MJ_APIKEY_PUBLIC: ${{ secrets.MAILJET_PUBLIC_API_KEY }}
      MJ_APIKEY_PRIVATE: ${{ secrets.MAILJET_SECRET_API_KEY }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Debug MailJet environment variables
        run: |
          echo "MJ_APIKEY_PUBLIC=${MJ_APIKEY_PUBLIC:0:4}****"
          echo "MJ_APIKEY_PRIVATE=${MJ_APIKEY_PRIVATE:0:4}****"
          echo "::add-mask::$MJ_APIKEY_PUBLIC"
          echo "::add-mask::$MJ_APIKEY_PRIVATE"

      - name: Build and test
        run: mvn clean test

      - name: Upload Surefire Report
        uses: actions/upload-artifact@v4
        with:
          name: surefire-report
          path: target/surefire-reports/emailable-report.html

      - name: Create Mailjet Payload
        run: |
          REPORT_PATH="target/surefire-reports/emailable-report.html"
          TO_EMAIL="${{ secrets.MAILJET_RECIPIENT || 'andrei.marcu1337@gmail.com' }}"
          FROM_EMAIL="andrei.marcu1337@gmail.com"
          FROM_NAME="Andrei Marcu"
          SUBJECT="Automated Test Report"

          HTML_CONTENT=$(cat "$REPORT_PATH")

          jq -n --arg from_email "$FROM_EMAIL" \
                --arg from_name "$FROM_NAME" \
                --arg to_email "$TO_EMAIL" \
                --arg to_name "$FROM_NAME" \
                --arg subject "$SUBJECT" \
                --arg html "$HTML_CONTENT" \
                '{
                  "Messages": [
                    {
                      "From": { "Email": $from_email, "Name": $from_name },
                      "To": [ { "Email": $to_email, "Name": $to_name } ],
                      "Subject": $subject,
                      "TextPart": "See attached HTML report.",
                      "HTMLPart": $html
                    }
                  ]
                }' > payload.json
